<% unless current_user.is_a? GuestUser %>
	<%= form_for @comment, url: '#' do |f| %>
		<div class="form-group">
			<%= f.label :Comments %>
			<%= f.text_area :content, class: 'form-control', placeholder: "Add a public comment..." %>
		</div>

		<div id="blog-cmt-btn">
			<%= f.submit 'Comment', class: 'btn btn-primary' %>
		</div>
	<% end %>
<% end %>