<div class="masthead clearfix">
  <div class="inner">
    <div class="row no-gutters">
      <div class="col-8 col-md-3">
        <h3 class="masthead-brand name-about"><%= name_helper 'name-about', 'span' %></h3>
      </div>
      <div class="col-4 col-md-9">
        <nav class="nav nav-masthead app-nav navbar-toggleable-md">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-bars fa-2x"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <%= nav_helper 'nav-link', 'span' %>
            <%= login_helper 'nav-link' %>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->