<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Filter by Topic!</h4>
    <p>The links below will filter the blogs by specific topics. If you're interested in any of the listed topics, just click one!</p>
  </div>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Find Me Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/trevorh2007"><%= fa_icon "github", text: "Github", class: "text-muted pull-left" %></a></li>
      <li><a href="https://twitter.com/DJBAMF"><%= fa_icon "twitter-square", text: "Twitter", class: "text-muted pull-left" %></a></li>
      <li><a href="https://www.facebook.com/trevor.howard.758"><%= fa_icon "facebook-square", text: "Facebook", class: "text-muted pull-left" %></a></li>
    </ol>
  </div>
</div>