<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Some of my cool projects!</h1>
    <p class="lead text-muted">Take a look at some of the bad ass things I've worked on!</p>
    <p>
      <%= link_to "More about me", about_me_path, class: 'btn btn-primary' %>
      <span><%= link_to "Check out my blog! ", blogs_path, class: 'buttonblog' %></span>
    </p>
  </div>
</section>