<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
    <div class="about-img">
		  <%= image_tag "me.jpg", width: 300, alt: "profile image" %>
    </div>
	</div>

	<div class="col-md-8">
		<div class="card about-card">
			<p class="p_pages">
				After entering the world of sales at a medium sized company I found myself wanting to create something tangible. It was great to have the "sellers high" closing a difficult sale and I gained a lot of experience in that world. I'm now learning how to program and develop using various languages and this is my very first project! It's very exciting to see something like a personal portfolio come to life as you add more and more elements. Learning these languages has been a challenge, but having something tangible, like my code, and be able to show it off has made me happier than I've ever been.
			</p>
		</div>
	</div>
</div>