<h1>How to contact me</h1>

<hr>
<div class="row">
	<div class="col-md-6">

		<br>
		<br>
		<h3>Where I work from</h3>

		<p>3585 S 2290 W, West Valley, UT 84119</p>

		<br>
		<br>

		<h3>Phone</h3>

		<p><%= number_to_phone "8018674982" %></p>

		<br>
		<br>
		<br>
		<br>
		<br>

		<div class="email">
			<h3><a href="mailto:trevorhoward2@gmail.com?subject=PortfolioContact" "email me">trevorhoward2@gmail.com</a> </h3>
		</div>
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.080043935891!2d-111.95212748489585!3d40.6942347466397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528b62ec71c90b%3A0xf9cef3f72c5a79b4!2s3585+S+2290+W%2C+West+Valley+City%2C+UT+84119!5e0!3m2!1sen!2sus!4v1493157456972" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	
</div>