<div class="inner cover">
  <h1 class="cover-heading">From sales to development</h1>
  <p class="cover-heading">And what made me switch</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-primary" %>
  </p>
</div>