<div class="inner cover">
  <h1 class="cover-heading">You're here just for this</h1>
  <p class="lead">Coding is bae</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-primary" %>
  </p>
</div>