<div class="home-cover">
  <div class="row justify-content-between">
    <div class="col-5">
      <h3>From sales to development</h3>
    </div>
    <div class="col-5">
      <h3>and what made me switch</h3>
    </div>
  </div>
  </div>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-primary" %>
  </p>