<div class="inner cover">
  <h1 class="cover-heading">Programming News</h1>

  <div class="row">
  	<% @tweets.each do |tweet| %>
  		<div class="col-md-6">
  			<div class="tech-news">
  				<div class="card tech-news about-card">
  					<div class="card-header card-header-user">
  						<b><%= tweet.split.first[0..-1].capitalize %>'s</b> Tweet:
  					</div>
  					<div class="card-block">
  						<%= twitter_parser tweet.split(' ')[1..-1].join(' ') %>
  					</div>
  				</div>
  			</div>
  		</div>
  	<% end %>
  </div>
</div>